

body {
    background-color: #FFFEF2;
  }

  .grid-container {
    display: grid;
    gap: 10px;
    /* background-color: #2196F3; */
    padding: 10px;
  }
  
  .grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-color: lavender;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    
  }
  
  .item1 {
    grid-column: 1 / span 3 ;
    grid-row: 1;
    font-size: large;
    background-color: #880000;
    padding-top: 0px;
    
  }
  
  .item2 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 50;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .login{
    font-size: medium;
  }

  .Buttons{
    margin-top: 60%;
  }






  
